body{
    margin: 0px;
}
.box{
    background-color: chartreuse;
    max-width: 50% ;
    padding: 10%;
    font-size: 200%;
}
section{
    max-width: 200px;padding: 10%;
    background-color: rgb(1, 234, 227);
    border: 19px solid green;
    
}