/* 
#html{
    background-color: blue;
}
.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.html.htm l{
    background-color: cadetblue ;
}
li{
    font-weight: 700;
    font-size: 32px;
}
li{
    background-color: green;
    color: aquamarine;
}
li{
    background-color: brown ;
}

 */
