body{
    text-align: left   ;
    background-color: #0D1A2D;
    color: white;
    font-family:sans-serif;
}
.card{
    background-color:#15273F  ;
    width: 350px;
    height: 596px;
    margin: auto;
    inset: 0;
    position: absolute;
    border-radius: 20px;
   padding: 25px;
 box-shadow: -19px 30px 0px rgba(0, 0, 0, 0.12), 19px 30px 0px rgba(0, 0, 0, 0.12);
}
img{
    width: 100%;
    border-radius: 10px;
    border: 20px;
    
}
p{
    position:absolute;
    color:#455979 ;
    margin-bottom: 20px;
    font-size: 1.2rem;
    
}
.eth-ico{
    position:static;
    display: inline;
    margin-top: 20px;
    width: 15px;
}
.timer-ico{
    position:absolute;
    display:inline;
    width: 20px;
    float: right;
    margin-left: 297px;
    margin-top:20px; 
}